<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= student.dob %>
  </p>

  <p>
    <strong>String no:</strong>
    <%= student.string_no %>
  </p>

  <p>
    <strong>Class year:</strong>
    <%= student.class_year %>
  </p>

</div>
